[core]
	excludesfile = ~/.gitignore
	editor = vim
	ignorecase = false
[user]
	name = an-lee
	email = an.lee.work@gmail.com
[alias]
	co = checkout
	cm = commit
	br = branch
	st = status
	l = log --graph
[pull]
  rebase = true
